<% provide(:title, "Home") %>

<div id = 'wrap'>

  <div class="center">

    <h1>Appliance Disaggregation Results</h1>

    <div style="height: 10px; clear: both;"></div>


    <body>


    <div id="charts">

      <%= area_chart(@mains, {library:{hAxis:{title:"Time"}, vAxis:{title:"Apparent Power [VA]"}, title:"Building Mains Power"}} )%>

      <%= area_chart(@disag, {library:{hAxis:{title:"Time"}, vAxis:{title:"Apparent Power [VA]"}, title: @chart_title}} )%>

    </div>



    <h1>Disaggregation Metrics</h1>

    <div style= "height: 30px; clear: both;"></div>

    <div id="l_metrics">

      <%= pie_chart(@en_per_meter, {library:{title:"Energy Used Per Appliance"}}) %>

      <div style="height: 265px; clear: both;"></div>

    </div>

    <div id = "r_metrics">

      <%= bar_chart(@f1_score , {library:{hAxis:{title:"Score"}, vAxis:{title:"Appliance"}, title:"F1 Accuracy Score per Appliance"}} ) %>

      <div style="height: 100px; clear: both;"></div>

    </div>

    </body>

  </div>

</div>

<div id = "back_link"><%= link_to 'Back', power_forms_path %></div>

